{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Manage User</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>BusinessName</th>
            <th>Address</th>
            <th>City</th>
            <th>ZipCode</th>
            <th>ProfileImage</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.businessName }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.zipCode }}</td>
            <td> {% if user.profileImage is null %}
                    <img class="post_main_image" style="max-height:100px;" src="{{ asset('images/faceMain.png') }}" alt="profile image">
                {% else %}
                    <img class="post_main_image" src="{{ vich_uploader_asset(user, 'imageFile') }}"
                         alt="profile image" style="max-width:50px">
                {% endif %}
            </td>
            <td>
                <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                {{ include('user/_delete_form.html.twig') }}
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}
