{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="loginPage">
        <div class="loginPageFormBg"></div>

        <div class="loginPageForm">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" name="email" id="inputEmail" class="form-control"
                       placeholder="Email"
                       {% if app.session.get('email') is defined %} value="{{ app.session.get('email') }}" {% else %} value="{{last_username}}"{% endif %}
                       required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                       required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <input type="hidden" name="_target_path" value="/"/>

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </form>


            <a class="btn btn-primary" href="{{ path('connect_facebook_start') }}">Login With Facebook</a>
            <a class="btn " href="{{ path('register') }}">Don't Have An Account?</a>


        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
