{% extends 'base.html.twig' %}
{% set currentPage = "home" %}
{% block title %}Home{% endblock %}

{% block body %}

        <div class="home-header justify-content-center">
                <h1>Discover Freelancers</h1>
                <form method="POST" action="{{ path('home_search') }}">
                        <div class="form-group">
                                <button type="submit" class="btn btn-primary search-disabled" disabled><i class="fas fa-search"></i></button>

                                <input  type="text" name="search" class="form-control" id="searchHeader" placeholder="Search">

                                <button type="submit" class="btn btn-primary">SEARCH</button>
                        </div>
                        <span class="tags-title">Popular</span>
                        <span class="tags">#PHP</span>
                        <span class="tags">#Copywriting</span>
                        <span class="tags">#SEO</span>
                        <span class="tags">#Wordpress</span>
                </form>
        </div>

        <div class=" popular-container">
                <div class="popular-services">
                        <div class="popular-services-title">
                                <h2>Popular Professional Services</h2>
                        </div>
                        <div class="popular-services-body">
                                <div class="row">

                                        <div class="popular-service">
                                                <a class="popular-service-link s1" href="{{ path('post_subcategory', {'subcategoryId': subcategories.2.id }) }}"></a>
                                        </div>

                                        <div class="popular-service">
                                                <h4>{{ subcategories.3.name }}</h4>
                                                <a class="popular-service-link s2" href="{{ path('post_subcategory', {'subcategoryId': subcategories.3.id }) }}" ></a>
                                        </div>

                                        <div class="popular-service">
                                                <h4>{{ subcategories.4.name }}</h4>
                                                <a class="popular-service-link s3" href="{{ path('post_subcategory', {'subcategoryId': subcategories.4.id }) }}" ></a>
                                        </div>

                                        <div class="popular-service">
                                                <h4>{{ subcategories.5.name }}</h4>
                                                <a class="popular-service-link s4" href="{{ path('post_subcategory', {'subcategoryId': subcategories.5.id }) }}" ></a>
                                        </div>

                                </div>

                                <div class="row">
                                        <div class="popular-service-text"><h4>{{ subcategories.2.name }}</h4></div>
                                        <div class="popular-service-text"><h4>{{ subcategories.3.name }}</h4></div>
                                        <div class="popular-service-text"><h4>{{ subcategories.4.name }}</h4></div>
                                        <div class="popular-service-text"><h4>{{ subcategories.5.name }}</h4></div>
                                </div>
                        </div>
                </div>
        </div>

        {% if is_granted('ROLE_USER') == false %}

        <div class="get-started-container">
                <div class="get-started">
                        <a href="{{ path('app_login') }}" class="btn btn-primary"> Join Us Now!</a>
                </div>
        </div>

        {% endif %}



        <div class=" popular-container-category">
                <div class="popular-services">
                        <div class="popular-services-title">
                                <h2>Explore The Marketplace</h2>
                        </div>
                        <div class="popular-services-body">
                                <div class="row">
                                        {% for category in categories | slice(0,4) %}
                                        <div class="popular-service">
                                                <h4>{{ category.name }}</h4>
                                                <div class="popular-service-layer">
                                                        <a class="layerCat" href="{{ path('post_category', {'categoryId': category.id }) }}">{{ category.name }}</a>
                                                        <a href="{{ path('post_subcategory', {'subcategoryId': category.subcategories.0.id }) }}">{{ category.subcategories.0.name }}</a>
                                                        <a href="{{ path('post_subcategory', {'subcategoryId': category.subcategories.1.id }) }}">{{ category.subcategories.1.name }}</a>
                                                </div>
                                                <a class="popular-service-link c{{category.id}}" href="{{ path('post_category', {'categoryId': category.id }) }}"></a>

                                        </div>
                                        {% endfor %}
                                </div>

                                <div class="row">
                                        {% for category in categories | slice(0,4) %}
                                                <div class="popular-service-text"><h4>{{ category.name }}</h4></div>
                                        {% endfor %}
                                </div>

                                <div class="row">


                                        {% for category in categories | slice(4,8) %}
                                                <div class="popular-service">
                                                        <h4>{{ category.name }}</h4>
                                                        <div class="popular-service-layer">
                                                                <a class="layerCat" href="{{ path('post_category', {'categoryId': category.id }) }}">{{ category.name }}</a>
                                                                <a href="{{ path('post_subcategory', {'subcategoryId': category.subcategories.0.id }) }}">{{ category.subcategories.0.name }}</a>
                                                                <a href="{{ path('post_subcategory', {'subcategoryId': category.subcategories.1.id }) }}">{{ category.subcategories.1.name }}</a>
                                                        </div>
                                                        <a class="popular-service-link c{{category.id}}" href="{{ path('post_category', {'categoryId': category.id }) }}"></a>
                                                </div>
                                        {% endfor %}

                                </div>

                                <div class="row">
                                        {% for category in categories | slice(4,8) %}
                                                <div class="popular-service-text"><h4>{{ category.name }}</h4></div>
                                        {% endfor %}
                                </div>
                        </div>
                </div>
        </div>











{% endblock %}
