<nav class="navbar navbar-expand-lg bg-dark text-white">
    <a class="navbar-brand" href="{{ path('admin_index') }}">dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="nav-item nav-link" href="{{ path('post_index') }}">Manage Posts</a>
                <a class="nav-item nav-link" href="{{ path('post_request_index') }}">Manage Requests</a>
                <a class="nav-item nav-link" href="{{ path('admin_user') }}">Manage Users</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            {% endif %}
        </div>
    </div>
</nav>