<footer class="footer">
    <div class="container">
        <div class="footer-section">
            <div class="footer-categories">

            </div>
        </div>
        <h2>footer</h2>
    </div>
</footer>