<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <div class="nav-left">

                <a class="nav-item nav-link" href="{{ path('post_index') }}">Posts</a>
                <a class="nav-item nav-link" href="{{ path('post_request_index') }}">Requests</a>

                {% if app.user %}
                    <a class="nav-item nav-link" href="/favorite">Favorites</a>

                    {% if is_granted('ROLE_CLIENT') %}
                        <a class="nav-item nav-link" href="/request/manage">Manage Requests</a>
                        <a class="nav-item nav-link" href="{{ path('message_dashboard') }}">Messenger</a>
                    {% elseif is_granted('ROLE_BUSINESS') %}
                        <a class="nav-item nav-link" href="/post/manage">Manage Posts</a>
                        <a class="nav-item nav-link" href="/message/dashboard">Messenger</a>
                    {% endif %}

                    <a class="nav-item nav-link" href="/user">Profile</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="/login">Login</a>
                    <a class="nav-item nav-link" href="/register">Register</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-item nav-link" href="{{ path('admin_index') }}">Admin Dashboard</a>
                {% endif %}

            </div>

            <div class="nav-right">

                <form method="POST" action="{{ path('home_currency') }}" class="form-inline navbar-left"
                      id="nav_currency_form">
                    <div class="form-group">
                        <select name="currency" class="form-control" id="nav_currency">
                            <option value="EUR"{% if app.session.get('currency') == 'EUR' %} selected="selected" {% endif %}>
                                EUR
                            </option>
                            <option value="USD"{% if app.session.get('currency') == 'USD' %} selected="selected" {% endif %}>
                                USD
                            </option>
                            <option value="GBP"{% if app.session.get('currency') == 'GBP' %} selected="selected" {% endif %}>
                                GBP
                            </option>
                        </select>
                    </div>
                </form>

                <form class="form-inline my-2 my-lg-0" method="POST" action="{{ path('home_search') }}">
                    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                </form>

            </div>

        </div>
    </div>
</nav>