@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html{
    min-height: 100%;
    position:relative;
}

.main{
    margin-bottom:60px;
}

.navbar-nav{
    width:100%!important;
}

.nav-right{
    display: inherit;
    width:100%;
    justify-content: flex-end;
}

.nav-left{
    display: inherit;
    width:100%;
    justify-content:flex-start;
}

#user_profile_img{
    max-height:100px;
}

.jumbotron-review {

    padding:10px!important;
    padding-bottom:50px!important;

}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome, serif;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }




.chatBox {
    border:1px solid silver;
    border-radius:6px;
    display:block;
    height: 400px;
    overflow-y: scroll;
}

.sendBox{
    width:100%;
}

.sendBox form{
    width:100%;
}


.home-header{
    width:100%;
    height: 70vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;

}

.popular-services {
    display: flex;
    flex-direction:column;
}

.popular-services-title{
    height:150px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.popular-services-body{
    display: flex;
    width:100%;
    flex-direction:column;
}

.popular-service{
    position:relative;
    margin:10px;
    display: flex;
    justify-content:center;
    align-items:center;
    background: #E8E8E8!important;
    flex-basis:0;
    flex-grow: 1;
    height:200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.popular-service:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.popular-service-link{
    position: absolute;
    width:100%;
    height: 100%;
}



.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 60px;
    background-color: #f5f5f5;
}

.footer-section{
    display: flex;
    flex-direction:column;
    width:100%;
}




body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

@keyframes sub {
    0%   { opacity: 0;
        display: none;
        visibility: hidden;
        transform: translateY(10px); }
    100% {opacity: 1;
        display: block;
        visibility: visible;
        transform: translateY(0); }
}

.sidebar-subcategories{
    display: none;
    opacity:0;
    animation-duration:0.3s;
}

.sub{
    display: block;
    animation-name:sub;
    animation-duration:0.3s;
    animation-fill-mode: forwards;
}


.sidebar-heading{
    position: relative;
}
