/* [Master Stylesheet 1.0] */

/* ------------- Index of Stylesheet -------------
:: 1.0 Import Web Fonts
:: 2.0 Common/Base CSS
:: 3.0 Nav bar Area CSS
:: 4.0 Footer Area CSS
:: 6.0 Home Page -  Area CSS

------------------------------------------------ */

/* --------------------
:: 1.0 Import Web Fonts
-------------------- */
@import url('https://fonts.googleapis.com/css?family=Abel');

@import 'sass/abstracts/variables';
@import 'sass/abstracts/mixins';
@import 'sass/layout/navigation';
@import 'sass/layout/footer';
@import 'sass/layout/breadcrumb';
@import 'sass/layout/sidebar';
@import 'sass/pages/home';
@import 'sass/pages/login';
@import 'sass/pages/register';
@import 'sass/pages/post';
@import 'sass/pages/messenger';


/* --------------------
:: 2.0 Common/Base CSS
-------------------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:$font;
    text-decoration: none;
}


html{
    min-height: 100%;
    position:relative;
}
body {
    overflow-x: hidden;
    background: #fff
}



/* --------------------
:: 2.0 Nav bar Area CSS
-------------------- */

/* --------------------
:: 3.0 Footer Area CSS
-------------------- */


/* --------------------
:: 3.0 Sidebar Area CSS
-------------------- */




#user_profile_img{
    max-height:100px;
}


.userEdit {
    padding-top:100px;
    img{
        max-height:100px;
    }

}

.jumbotron-review {

    padding:10px!important;
    padding-bottom:50px!important;

}

h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome, serif;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


