nav{
  left:20px;
  position:fixed!important;
  width:100%;
  background:none;
  opacity:1;
}

.navbar{
  background:none;
}

.nav-left{
  a{
    color:white!important;
  }
}

.navbar-brand{
  color:white!important;
}

a:after {

  position: absolute;
  background: #fff!important;

}


.navHomeAnimation{
  background:#000;
  animation-duration:1s;
  transition:1s;
  opacity: 0.8;
}