<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Write a review</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="{{ path('review_new', {'id': post.id}) }}" method="POST">
                    <div class=" col">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5"/><label class="full"
                                                                                           for="star5"
                                                                                           title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4.5"/><label class="half"
                                                                                                 for="star4half"
                                                                                                 title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4"/><label class="full"
                                                                                           for="star4"
                                                                                           title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3.5"/><label class="half"
                                                                                                 for="star3half"
                                                                                                 title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3"/><label class="full"
                                                                                           for="star3"
                                                                                           title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2.5"/><label class="half"
                                                                                                 for="star2half"
                                                                                                 title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2"/><label class="full"
                                                                                           for="star2"
                                                                                           title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1.5"/><label class="half"
                                                                                                 for="star1half"
                                                                                                 title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1"/><label class="full"
                                                                                           for="star1"
                                                                                           title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="0.5"/><label class="half"
                                                                                                for="starhalf"
                                                                                                title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                    </div>

                    <div class="form-group">
                                <textarea class="form-control" name="description" id="description" rowratings="3"
                                          placeholder="Describe your experience"></textarea>
                    </div>


                    <button type="submit" class="btn btn-success">Submit</button>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

</div>