{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="registerPage">
        <div class="registerPageFormBg"></div>

        <div class="registerPageForm">

            <h1>Register</h1>

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password) }}
            {{ form_row(registrationForm.roles) }}

            <button class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}

        </div>
    </div>

{% endblock %}

