<form method="post" action="{{ path('post_request_delete', {'id': post_request.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post_request.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
