{% extends 'base.html.twig' %}
{% set currentPage = "postRequestEdit" %}

{% block title %}Edit PostRequest{% endblock %}

{% block body %}
    <div class="postNewPage"></div>

    <div class="postPageFormBg"></div>

    <div class="postPageForm">
        <h1>Edit PostRequest</h1>
        {{ include('post_request/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
