{% extends 'base.html.twig' %}

{% block title %}PostRequest index{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
        </ol>
    </nav>

    <script type="text/javascript">
        var name = {{ name|json_encode|raw }};
    </script>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><a class="popular-service-link" href="{{ path('post_request_index') }}">Marketplace</a>
            </div>
            <ul class="list-group list-group-flush">
                {% for category in categories %}
                    <li class="category-sidebar">
                        <a href="#"
                           class=" list-group-item list-group-item-action bg-light">{{ category.name }}</a>
                        <ul class="sidebar-subcategories">
                            {% for subcategory in category.subcategories %}
                                <li><a href="{{ path('post_request_subcategory', {'subcategoryId': subcategory.id}) }}"
                                       class=" list-group-item list-group-item-action bg-light">{{ subcategory.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->


    <div id="page-content-wrapper">


        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="post-box-row">

            {% for post_request in post_requests %}

            <div class=" post-request-box  ">

                <div class="post-request-box-user">
                    <a class="popular-service-link " href="{{ path('post_request_show', {'id': post_request.id}) }}"></a>
                    {% if post_request.user.profileImage is null %}
                        <img src="{{ asset('images/faceMain.png') }}" alt="profile image">
                    {% else %}
                        <img id="user_profile_img" src="{{ vich_uploader_asset(post_request.user, 'imageFile') }}"
                             alt="profiles image">
                    {% endif %}
                </div>
                <div class="post-request-box-header">
                    <a class="popular-service-link " href="{{ path('post_request_show', {'id': post_request.id}) }}"></a>
                    {{ post_request.title }}
                </div>
                <div class="post-request-box-main">
                    {{ post_request.description }}
                </div>
                <div class="post-request-box-footer">
                    {% if post_request.user.businessName is empty %}
                        {{ post_request.user.email }}
                    {% else %}
                        {{ post_request.user.businessName }}
                    {% endif %}
                </div>
                <div class="post-request-box-bottom">
                      Created At:  {{ post_request.createdAt|date }}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {{ include('post_request/_delete_form.html.twig') }}
                        <a class="btn btn-success" href="{{ path('post_request_edit', {'id': post_request.id}) }}">edit</a>
                    {% endif %}
                </div>

            </div>


            {% else %}

                <p>no records found</p>

            {% endfor %}

        </div>

    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


{% endblock %}
