{% extends 'base.html.twig' %}

{% block title %}Manage Your Requests{% endblock %}

{% block body %}

<div class="d-flex" id="wrapper">


    <div id="page-content-wrapper">

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="post-box-row">

            <h2><a href="{{ path('post_request_new') }}">Create new</a></h2>

            {% for post_request in post_requests %}

                <div class=" post-request-box  ">

                    <div class="post-request-box-user">
                        <a class="popular-service-link " href="{{ path('post_request_show', {'id': post_request.id}) }}"></a>
                        {% if postRequestMainImage(post_request) is null %}
                            <img src="{{ asset('images/laptop.jpg') }}" alt="main post image">
                        {% else %}
                            <img id="user_profile_img" src="{{ vich_uploader_asset(postRequestMainImage(post_request), 'imageFile') }}"
                                 alt="profiles image">
                        {% endif %}
                    </div>
                    <div class="post-request-box-header">
                        <a class="popular-service-link " href="{{ path('post_request_show', {'id': post_request.id}) }}"></a>
                        {{ post_request.title }}
                    </div>
                    <div class="post-request-box-main">
                        {{ post_request.description }}
                    </div>
                    <div class="post-request-box-footer">
                        {% if post_request.user.businessName is empty %}
                            {{ post_request.user.email }}
                        {% else %}
                            {{ post_request.user.businessName }}
                        {% endif %}
                    </div>
                    <div class="post-request-box-bottom">
                        Created At:  {{ post_request.createdAt|date }}
                        {{ include('post_request/_delete_form.html.twig') }}
                        <a class="btn btn-success" href="{{ path('post_request_edit', {'id': post_request.id}) }}">edit</a>
                    </div>

                </div>


            {% else %}


            {% endfor %}

        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>
    <!-- /#wrapper -->



{% endblock %}




