{% extends 'base.html.twig' %}
{% set currentPage = "postRequestNew" %}

{% block title %}New PostRequest{% endblock %}

{% block body %}

    <div class="postNewPage"></div>

    <div class="postPageFormBg"></div>

    <div class="postPageForm">
        <h1>Create new PostRequest</h1>

        {{ include('post_request/_form.html.twig') }}

    </div>

{% endblock %}
