{% extends 'base.html.twig' %}

{% block title %}Request{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <div class="postBlock">
            <div class="leftPostBlock">

                <div class="titleBlock">
                    <h2>{{ post_request.title }}</h2>
                </div>
                <div class="categoryBlock">
                    <a href="{{ path('post_request_category', {'categoryId': post_request.category.id}) }}">{{ post_request.category }}</a>
                    <span> / </span> <a
                            href="{{ path('post_request_subcategory', {'subcategoryId': post_request.subcategory.id}) }}"> {{ post_request.subcategory }}</a>
                </div>
                <div class="imageBlock">
                    {% if postRequestMainImage(post_request) is null %}
                        <img src="{{ asset('images/laptop.jpg') }}" alt="post default image" style="max-width: 500px;">
                    {% else %}
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for slide in getPostRequestImages(post_request) %}

                                    {% if loop.index == 1 %}
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="{{ vich_uploader_asset(slide, 'imageFile') }}" alt=" slide">
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="{{ vich_uploader_asset(slide, 'imageFile') }}" alt=" slide">
                                        </div>
                                    {% endif %}


                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="rightPostBlock">
                <div class="descriptionBlock">

                    <br>
                </div>
                <div class="deliveryBlock">
                    <p><strong>Delivery Time</strong></p>
                    <p>From {{ post_request.deliveryTimeFrom }} {{ post_request.deliveryTimeFormat }}</p>
                    <p>To {{ post_request.deliveryTimeTo }} {{ post_request.deliveryTimeFormat }}</p>
                    <br>
                </div>

                <div class="priceBlock">
                    {% if app.session.get('currency') is not empty %}
                        <p>{{ priceRate(post_request.price, post_request.currency.name, app.session.get('currency')) }} {{ app.session.get('currency') }}</p>
                    {% else %}
                        <p>{{ priceRate(post_request.price, post_request.currency.name, 'EUR') }} {{ 'EUR' }}</p>
                    {% endif %}
                </div>

                {% if is_granted('ROLE_SUPER_ADMIN') == false %}
                    <div class="actionBlock">
                        <!-- Button to Open the Modal -->
                        <a class="btn btn-dark" href="{{ path('message_chat', {'senderId': post_request.user.id}) }}">Chat</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="container">

            <div class="postBlock">

                <div class="leftPostBlock">
                    <p><strong>Description</strong></p>
                    <p>{{ post_request.description }}</p>
                </div>

                <div class="rightPostBlock">
                    <h1>User Data</h1>
                    <p>email: {{ post_request.user.email }}</p>
                    <p>Joined at: {{ post_request.user.createdAt|date }}</p>
                </div>


            </div>

        </div>

    </div>





{% endblock %}



