#searchHeader{
  width: 70vh!important;
  border: none;
  border-radius: 0;
}

@keyframes h1-header {
  0%   { opacity: 0;
    transform: translateY(10px); }
  100% {opacity: 1;
    transform: translateY(0); }
}

@keyframes tags {
  0%   { opacity: 0;
    }
  100% {opacity: 1;
    }
}


.home-header{
  width:100%;
  height: 80vh;
  background: url("../../../images/bg2.jpg");
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  position: relative;

  h1{
    position: absolute;
    top: 20%;
    font-size: 60px;
    opacity:0;
    animation-name:h1-header;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
    color:white;
  }

  .tags-title{
    opacity: 0.9;
    color:whitesmoke;
  }

  .tags{
    opacity: 0.9;
    color: whitesmoke;
    animation-name:h1-header;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }

  .form-group{
    display: flex;
    flex-direction: row;

    .search-disabled{
      border: none;
      border-radius: 0;
    }

  }

}

.popular-container{
  background-color: #f8f9fa;
  height: 600px;
}

.popular-services {
  display: flex;
  flex-direction:column;
  max-width:1330px;
  margin:auto;
  align-items:center;
  justify-content: center;



  .s1{
    background: url('../../../images/s1.jpg');
    background-size:cover;
    &:hover{
      transform: scale(1.1);
      transition-duration:0.5s;
    }
  }
  .s2{
    @extend .s1;
    background: url('../../../images/s2.jpg');
    background-size:cover;
  }
  .s3{
    @extend .s1;
    background: url('../../../images/s3.jpg');
    background-size:cover;
  }
  .s4{
    @extend .s1;
    background: url('../../../images/s4.jpg');
    background-size:cover;
  }


}

.popular-services-title{
  height:150px;
  display: flex;
  align-items:center;
  justify-content: center;
}

.popular-services-body{
  display: flex;
  width:100%;
  flex-direction:column;
}

.popular-service{
  transition-duration:0.5s;
  position:relative;
  overflow:hidden;
  margin:10px;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-basis:0;
  flex-grow: 1;
  height:300px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.popular-service:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.popular-service-text{
  margin:10px;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-basis:0;
  flex-grow: 1;
}

.popular-service-link{
  position: absolute;
  width:100%;
  height: 100%;
}




.popular-service-layer{
  position: absolute;
  width:100%;
  z-index:2;
  background:black;
  opacity: 0;
  height: 0;
  transition-duration: 0.3s;
  animation:0.3s;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  .layerCat{
    font-size:25px;
    text-decoration: underline;
  }
  a{
    color:white;
    font-size:20px;
  }
}







.get-started-container{
  @extend .popular-container;
  background: url("../../../images/bg4.jpg");
  background-size:cover;
}


.get-started{
    @extend .popular-services;
    height: 100%;
  a{
    font-size:25px;
    width:60vh;
    opacity: 0.9;
    border:none;
  }

}

.popular-container-category{
  @extend .popular-container;
  height:auto;
}


@for $i from 1 through 8 {
  .c#{$i} {
    background: url('../../../images/c#{$i}.jpg');
    background-size:cover;


    &:hover {
      cursor: pointer;
      .popular-service-layer{
        height: 100%;
        opacity: 0.6;
        animation-duration: 0.6s;
      }
    }
  }
}

.popular-service{
  &:hover {
    cursor: pointer;

    .popular-service-layer {
      height: 100%;
      opacity: 0.6;
      transition-duration: 0.3s;
      animation:0.3s;
    }
  }
}