.loginPage{
  display: flex;
  flex-direction:column;
  width:100%;
  height:100vh;
  background: url("../../../images/l1.jpg");
  background-size:cover;
}


.loginPageFormBg{
  top:100px;
  left: 30%;
  display: flex;
  width:40%;
  height:80vh;
  opacity:0.3;
  position:absolute;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:15px;

}

.loginPageForm{
  top:100px;
  left: 30%;
  width:30%;
  margin:50px;
  height:80vh;
  position:absolute;
  z-index:9;

  button,a, input{
    width:100%;
    margin-top:10px;
  }
}