#messenger-sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  width: 15rem;
}

.messenger-header{
  padding:20px;
  border-bottom:1px solid silver;
}


#page-content-wrapper-messenger {
  min-width: 100vw;
  min-height:80vh;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #messenger-sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper-messenger {
    min-width: 0;
    width: 100%;
    margin-top:60px;
  }

  #wrapper.toggled #messenger-sidebar-wrapper {
    margin-left: -15rem;
  }
}


.chatBox {
  border-right:1px solid silver;
  min-height: 90vh;
  margin-top: 95px;
  display: flex;
  flex-direction:column;
}

.messengerBox {
  padding:20px;
  height:70vh;
  display: flex;
  flex-direction:column;
  overflow-y:scroll;
}

.sendBox{
  width:100%;
  margin-left:0;
}

.sendBox form{
  width:100%;

}



.senderMessage{
  display: flex;
  justify-content: flex-end;
  .p-message{
    border-radius:15px;
    padding:5px 15px;
    background-color: #007bff;
    width:fit-content;
  }
}


.receivedMessage{
  display: flex;
  justify-content: flex-start;
  .p-message{
    border-radius:15px;
    padding:5px 15px;
    background-color: #ececf6;
    width:fit-content;
  }
}

.inquiry{
  background-color: #ececf6;
  padding:10px;
  margin:5px;
  border-radius:15px;
  a{
    text-decoration: none;
  }
}

.checkUserForm{
  justify-content: center;
  display: flex;
  flex-direction:column;
  width:100%;
  align-items: center;
  margin-bottom: 20px;

}









.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}