.post-box-row{
  display:flex;
  justify-content: center;
  flex-direction:row;
  flex-wrap:wrap;
}

.post-box{
  background:#fff;
  position:relative;
  display: flex;
  justify-content: center;
  flex-basis:0;
  flex-direction:column;
  margin:15px;
  transition-duration: 1s;
  &:hover{
    .post-box-title{
      color:#007bff;
      transition-duration: 0.3s;
    }
  }
}

.post-box-img{
  position: relative;
  width:400px;
  height:200px;
  overflow: hidden;
  transition-duration: 0.3s;

}

.post-box-user{
  position:relative;
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  img{
    height:50px;
  }
}

.post-box-title{
  padding:0 10px;
  position:relative;
  transition-duration: 0.3s;
}

.post-box-action{
  padding:0 10px;
  a{
    &:hover{
      color:black;
    }
  }
}

.post-box-review{
  padding:0 10px;
  svg{
    color:gold;
  }
}


.postBlock{
  display: flex;
  justify-content: center;
  flex-direction:row;
}

.leftPostBlock{
  background:#fff;
  margin:20px;
  padding:10px;
  display: flex;
  flex-basis:0;
  flex-grow:2;
  flex-direction:column;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.rightPostBlock{
  background:#fff;
  margin:20px;
  padding:10px;
  display: flex;
  flex-basis:0;
  flex-grow:1;
  flex-direction:column;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


}

.imageBlock{
  position: relative;
  width:500px;
  height:300px;
  overflow: hidden;
  margin: 0 auto;
}


.jumbotron-review{
  border-radius:15px;
}

.postNewPage{
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  /*background-size: cover;*/
  background-size: contain;
  position:absolute;
  width:100%;
  height:120vh;
  z-index:-1;
  background: url("../../../images/postBack.jpg");
  background-position:center;
  background-size:cover;

  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}



.postPageFormBg{
  top:100px;
  left: 30%;
  display: flex;
  width:40%;
  height:100%;
  opacity:0.3;
  position:absolute;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:15px;
}

.postPageForm{
  top:100px;
  left: 30%;
  width:30%;
  margin:50px;
  height:80vh;
  position:absolute;
  z-index:9;
  padding-bottom:100px;

  button,a, input{
    width:100%;
    margin-top:10px;
  }
}


.btnPostSave{
  background: #000;
  color: white;
  opacity: 0.6;
  &:hover{
    opacity: 0.7;
    animation-duration:0.5s;
  }
}


.post-request-box-header { grid-area: header;border-bottom:1px solid silver; overflow:hidden; position:relative;}
.post-request-box-main { grid-area: main; overflow:hidden; position:relative; }
.post-request-box-user { grid-area: user; overflow:hidden; position:relative; }
.post-request-box-footer { grid-area: footer; overflow:hidden; position:relative; }
.post-request-box-bottom { grid-area: bottom; overflow:hidden; position:relative; }

.post-request-box {
  background: #fff;
  display: grid;
  grid-template-areas:
          'user header header header header header'
          'user main main main main main'
          'user main main main main main'
          'user main main main main main'
          'footer footer footer footer footer footer'
          'bottom bottom bottom bottom bottom bottom';
  grid-gap: 5px;
  padding: 10px;
  grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width:100%;
  margin: 20px 50px;
  position: relative;
  img{
    max-width:200px;
  }
}


.post_main_image{
  max-width: 100%;
  height: auto;
}


.authorImg{
  display: flex;
  justify-content: center;

  img{
    margin-top:-30px;
    max-height:50px;
    border-radius: 50%;
  }
}

#newPost{
  padding-bottom:100px;
}