.registerPage{
  @extend .loginPage;
}


.registerPageFormBg{
  @extend .loginPageFormBg;


}

.registerPageForm{
 @extend .loginPageForm
}

#user_roles{
  input{
    width:auto;
    margin-top:0;
  }

  .form-check{
    display: flex;
    align-items: center;
  }
}