
{% extends 'base.html.twig' %}

{% block title %}Chat Box{% endblock %}

{% block body %}

    <div class="d-flex" id="wrapper">

        <div id="messenger-sidebar-wrapper">

            <div class="chatBox">
                <script>
                    var usersEmails = {{ usersEmails|json_encode|raw }};
                </script>


                <form autocomplete="off" method="POST" class="checkUserForm" action="{{ path('message_checkUser') }}">
                    <label for="msgAddInput">Send To Email</label>
                    <div class="autocomplete">
                    <input type="email" class="form-control" id="msgAddInput" name="user_email" placeholder="email@example.com">
                    </div>
                    <a href="#" id="msgAdd" ><i class="fas fa-user-plus"></i>Chat</a>
                </form>

                {% for message in groupedMessages %}
                    <a class="inquiry"
                       href="{{ path('message_chat', {'senderId': message.id}) }}">{{ message.email }}</a>
                {% endfor %}

            </div>

        </div>

        <div id="page-content-wrapper-messenger">

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% if messages is defined %}


                <div class="messenger-header">


                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% if sender is not null %}
                        <h3>You are chatting with: {{ sender.email }}</h3>
                    {% endif %}

                </div>

                <div class="messengerBox">
                    {% for message in messages %}
                        {% if message.sender.id == app.user.id %}
                            <div class="senderMessage">
                                <p class="text-right p-message">{{ message.message }}</p>
                            </div>
                            <p class="text-right ">{{ message.sentAt|date }} </p>
                        {% else %}
                            <div class="receivedMessage">
                                <p class="p-message">{{ message.message }}</p>
                            </div>
                            <p>{{ message.sentAt|date }} </p>
                        {% endif %}
                    {% endfor %}


                </div>

                <div class="sendBox row">
                    <form action="{{ path('message_sendMessage') }}" method="POST">
                        <div class="form-group">
                                <textarea class="messengerBox form-control" name="message" id="description" rowratings="3"
                                          placeholder="Write a message." required></textarea>
                        </div>
                        <input type="hidden" name="recipientId" value="{{ sender.id }}">
                        <button type="submit" class="btn btn-success">Send</button>
                    </form>
                </div>




            {% endif %}

        </div>

    </div>

{% endblock %}
