{% set url = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        {{ encore_entry_link_tags('app') }}

        {% if '/login' in url or '/register' in url or '/message' in url or '/post/new' in url or '/edit' in url or '/request/new' in url  %}
            {{ encore_entry_link_tags('security') }}
        {% endif %}

        {% if currentPage is defined %}
            {% if currentPage == 'home' %}
                {{ encore_entry_link_tags('home') }}
            {% endif %}
        {% endif %}

    {% endblock %}

</head>
<body>

{% if is_granted('ROLE_SUPER_ADMIN') %}
    {% include 'includes/admin_navbar.html.twig' %}

{% else %}
    {% include 'includes/navbar.html.twig' %}
{% endif %}


<div class="main">
    {% block body %}{% endblock %}
</div>

{% include 'includes/footer.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    {% if currentPage is defined %}
        {% if currentPage == 'postNew' or currentPage == 'postEdit' %}
            {{ encore_entry_script_tags('postJs') }}
        {% elseif currentPage == 'postRequestNew' or currentPage == 'postRequestEdit' %}
            {{ encore_entry_script_tags('postRequestJs') }}
        {% endif %}
    {% endif %}

{% endblock %}

</body>
</html>
