<script type="text/javascript">
    var subcategoriesData = {{ subcategoriesData|json_encode|raw }};
    var categoriesData = {{ categoriesData|json_encode|raw }};
</script>
{% if '/edit' in url %}
    <script type="text/javascript">
        var currentSubcategory = {{ currentSubcategory|json_encode|raw }};
        var currentCategory = {{ currentCategory|json_encode|raw }};
    </script>
{% endif %}


{{ form_start(form, { 'attr': {'id': 'newPost'}},{'multipart': true}) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.currency) }}
    {{ form_row(form.deliveryTimeFrom) }}
    {{ form_row(form.deliveryTimeTo) }}
    {{ form_row(form.deliveryTimeFormat) }}



<div class="col-sm-8 col-sm-offset-2" id="imagesList"
     data-prototype="{{ form_widget(form.postImages.vars.prototype)|e('html_attr') }}">
    {% for row in form.postImages %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <input class="oldImages" name="oldImages[]" type="hidden" value="{{ row.children.imageFile.vars.object.id }}">
                <p>{{ row.vars.value.image }}</p>
            </div>
            <div class="panel-body">
                <div class="imageBlock">
                    <img class="post_main_image" src="{{ vich_uploader_asset(row.children.imageFile.vars.object, 'imageFile') }}" alt="profiles image">
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<button class="btn btnPostSave">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

