{% extends 'base.html.twig' %}
{% set currentPage = "postEdit" %}


{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="postNewPage"></div>

    <div class="postPageFormBg"></div>

    <div class="postPageForm">
        <h1>Edit Post</h1>
        {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
