{% extends 'base.html.twig' %}

{% block title %}Manage Your Posts{% endblock %}

{% block body %}

    <div class="d-flex" id="wrapper">


        <div id="page-content-wrapper">

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="post-box-row">

                <h2><a href="{{ path('post_new') }}">Create new</a></h2>

                {% for post in posts %}

                    <div class=" post-request-box  ">

                        <div class="post-request-box-user">
                            <a class="popular-service-link " href="{{ path('post_show', {'id': post.id}) }}"></a>
                            {% if postMainImage(post) is null %}
                                <img src="{{ asset('images/laptop.jpg') }}" alt="main post image">
                            {% else %}
                                <img id="user_profile_img" src="{{ vich_uploader_asset(postMainImage(post), 'imageFile') }}"
                                     alt="profiles image">
                            {% endif %}
                        </div>
                        <div class="post-request-box-header">
                            <a class="popular-service-link " href="{{ path('post_show', {'id': post.id}) }}"></a>
                            {{ post.title }}
                        </div>
                        <div class="post-request-box-main">
                            {{ post.description }}
                        </div>
                        <div class="post-request-box-footer">
                            {% if post.user.businessName is empty %}
                                {{ post.user.email }}
                            {% else %}
                                {{ post.user.businessName }}
                            {% endif %}
                        </div>
                        <div class="post-request-box-bottom">
                            Created At:  {{ post.createdAt|date }}
                                {{ include('post/_delete_form.html.twig') }}
                                <a class="btn btn-success" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                        </div>

                    </div>


                {% else %}


                {% endfor %}

            </div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


{% endblock %}

