{% extends 'base.html.twig' %}
{% set currentPage = "postNew" %}


{% block title %}New Post{% endblock %}

{% block body %}
<div class="postNewPage"></div>

    <div class="postPageFormBg"></div>

    <div class="postPageForm">
        <h1>Create new Post</h1>

        {{ include('post/_form.html.twig') }}
    </div>


{% endblock %}
