{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <div class="postBlock">
            <div class="leftPostBlock">

                <div class="titleBlock">
                    <h2>{{ post.title }}</h2>
                    <p><i class="fas fa-star"></i>{{ reviewAvg(post) }} ({{ reviewCount(post) }})</p>
                </div>
                <div class="categoryBlock">
                    <a href="{{ path('post_category', {'categoryId': post.category.id}) }}">{{ post.category }}</a>
                    <span> / </span> <a
                            href="{{ path('post_subcategory', {'subcategoryId': post.subcategory.id}) }}"> {{ post.subcategory }}</a>
                </div>
                <div class="imageBlock">
                    {% if postMainImage(post) is null %}
                        <img src="{{ asset('images/laptop.jpg') }}" alt="post default image" style="max-width: 500px;">
                    {% else %}
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                            {% for slide in getPostImages(post) %}

                                {% if loop.index == 1 %}
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{{ vich_uploader_asset(slide, 'imageFile') }}" alt=" slide">
                                    </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="{{ vich_uploader_asset(slide, 'imageFile') }}" alt=" slide">
                                        </div>
                                {% endif %}


                            {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="rightPostBlock">
                <div class="descriptionBlock">
                    <p><strong>Description</strong></p>
                    <p>{{ post.description }}</p>
                    <br>
                </div>
                <div class="deliveryBlock">
                    <p><strong>Delivery Time</strong></p>
                    <p>From {{ post.deliveryTimeFrom }} {{ post.deliveryTimeFormat }}</p>
                    <p>To {{ post.deliveryTimeTo }} {{ post.deliveryTimeFormat }}</p>
                    <br>
                </div>

                <div class="priceBlock">
                    {% if app.session.get('currency') is not empty %}
                        <p>{{ priceRate(post.price, post.currency.name, app.session.get('currency')) }} {{ app.session.get('currency') }}</p>
                    {% else %}
                        <p>{{ priceRate(post.price, post.currency.name, 'EUR') }} {{ 'EUR' }}</p>
                    {% endif %}
                </div>

                {% if is_granted('ROLE_SUPER_ADMIN') == false %}
                    <div class="actionBlock">
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Write a Review
                        </button>

                        <a class="btn btn-dark" href="{{ path('message_chat', {'senderId': post.user.id}) }}">Chat</a>
                    </div>
                {% endif %}
            </div>
        </div>


        {{ include('review/_form_modal.html.twig') }}

        <div class="container">

            <div class="postBlock">

                <div class="leftPostBlock">


                    <div class="col">
                        <h1>Reviews</h1>
                    </div>

                    {% for review in reviews %}
                        <div class="jumbotron jumbotron-fluid jumbotron-review">
                            <div class="container">
                                <div class="authorImg">
                                    {% if review.user.profileImage is null %}
                                        <img class="post_main_image"
                                             src="{{ asset('images/faceMain.png') }}" alt="profile image">
                                    {% else %}
                                        <img class="post_main_image" src="{{ vich_uploader_asset(review.user, 'imageFile') }}"
                                             alt="profile image" >
                                    {% endif %}
                                </div>
                                <p>Author: {{ review.user.email }}</p>
                                <p class="lead">{{ review.description }}</p>
                                <div class="rating">
                                    {% for i in 1..5 %}
                                        {% set starClass = (review.rating >= i ? "fas fa-star starSet" : "far fa-star") %}
                                        <i class="{{ starClass }}"></i>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="rightPostBlock">
                    <h1>User Data</h1>
                    <p>email: {{ post.user.email }}</p>
                    <p>Joined at: {{ post.user.createdAt|date }}</p>
                </div>


            </div>

        </div>

    </div>





{% endblock %}



