{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="post-box-row">

    {% for post in posts %}

        <div class=" post-box  ">

            <div class="post-box-img img-thumbnail">
                <a class="popular-service-link " href="{{ path('post_show', {'id': post.id}) }}" style="z-index:99"></a>
                <img src="{{ asset('images/laptop.jpg') }}" alt="post default image">
            </div>
            <div class="post-box-user">
                <a class="popular-service-link " href="{{ path('post_show', {'id': post.id}) }}"></a>
                {% if post.user.profileImage is null %}
                    <img src="{{ asset('images/faceMain.png') }}" alt="insert image">
                {% else %}
                    <img id="user_profile_img" src="{{ vich_uploader_asset(post.user, 'imageFile') }}"
                         alt="profiles image">
                {% endif %}
                <span>
                            {% if post.user.businessName is empty %}
                                {{ post.user.email }}
                            {% else %}
                                {{ post.user.businessName }}
                            {% endif %}
                        </span>
            </div>
            <div class="post-box-title">
                <a class="popular-service-link " href="{{ path('post_show', {'id': post.id}) }}"></a>
                {{ post.title }}
            </div>
            <div class="post-box-review"><i class="fas fa-star"></i>{{ reviewAvg(post) }}  {{ reviewCount(post) }}</div>
            <div class="post-box-action">

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {{ include('post/_delete_form.html.twig') }}
                    <a class="btn btn-success" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                {% else %}
                    {% set liked = false %}
                    {% for favorite in favorites %}
                        {% if favorite.post == post %}
                            {% set liked = true %}
                        {% endif %}
                    {% endfor %}

                    {% if liked == true %}
                        <a href="{{ path('favorite_delete', {'id': post.id}) }}"><i class="fas fa-heart" title="Remove from Saved List"></i></a>
                    {% elseif liked == false %}
                        <a href="{{ path('favorite_new', {'post': post}) }}"><i class="far fa-heart" title="Add to Saved List"></i></a>
                    {% endif %}

                {% endif %}

            </div>

        </div>

    {% else %}

        <p>no records found</p>

    {% endfor %}

    </div>

{% endblock %}
