.breadcrumb{
  height:100px;
  display: flex;
  align-items:center;
  font-size:30px;
  background: black;
  margin:0;
  opacity:0.8;
  a{
    text-decoration: none;
  }
}
.bc{
  font-size:30px;
  margin:15px;
  border-left:1px solid silver;
}

