
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 60px;
  background-color: #f5f5f5;
}

.footer-section{
  display: flex;
  flex-direction:column;
  width:100%;
}