#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}





@keyframes sub {
  0%   { opacity: 0;
    display: none;
    visibility: hidden;
    transform: translateY(10px); }
  100% {opacity: 1;
    display: block;
    visibility: visible;
    transform: translateY(0); }
}

.sidebar-subcategories{
  display: none;
  opacity:0;
  animation-duration:0.3s;
}

.sub{
  display: block;
  animation-name:sub;
  animation-duration:0.3s;
  animation-fill-mode: forwards;
}


.sidebar-heading{
  position: relative;
}







#sidebar-wrapper{
  ul {
    list-style: none;
    text-align: center;
  }

  li {
    position: relative;
  }

  a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }

  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  a:hover:after {
    width: 100%;
    left: 0;
  }
}












