{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">


    <h1>User Profile</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>BusinessName</th>
                <th>Address</th>
                <th>City</th>
                <th>ZipCode</th>
                <th>ProfileImage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.firstName }}</td>
                <td>{{ app.user.lastName }}</td>
                <td>{{ app.user.businessName }}</td>
                <td>{{ app.user.address }}</td>
                <td>{{ app.user.city }}</td>
                <td>{{ app.user.zipCode }}</td>
                <td>ProfileImage
                {% if app.user.profileImage is null %}
                    <img class="post_main_image" src="{{ asset('images/faceMain.png') }}" alt="profile image" style="max-height:50px;">
                {% else %}
                    <img class="post_main_image" src="{{ vich_uploader_asset(app.user, 'imageFile') }}"
                         alt="profile image" style="max-width:50px">
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('user_edit', {'id': app.user.id}) }}">edit</a>
                </td>
            </tr>

        </tbody>
    </table>

    </div>

{% endblock %}
